@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-Thin.otf") format("opentype");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-Light.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-Medium.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-Regular.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../assets/fonts/metropolis/Metropolis-Black.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
}

* {
    font-family: 'Metropolis', sans-serif !important;
    image-rendering: optimizeQuality;
}

/* vue transition properties */
.fadeInOut-enter-from {
  opacity: 0;
}

.fadeInOut-enter-to {
  opacity: 1;
}

.fadeInOut-enter-active {
  transition: all .4s ease;
}

.fadeInOut-leave-from {
  opacity: 1;
}

.fadeInOut-leave-to {
  opacity: 0;
}